# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
.gradle/
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

.gitconfig

# ================== #
# FMOD files         #
# ================== #
Assets/FMODStudioCache.asset
Assets/FMODStudioCache.asset.meta
fmod.log
fmod_editor.log

*.log


# ================== #
# AMPLIFY SHADER     #
# ================== #
Assets/ThirdParty/AmplifyShaderEditor.meta
Assets/ThirdParty/AmplifyShaderEditor/*

# Jetbrain Rider Cache
.idea/
Assets/Plugins/Editor/JetBrains*